<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Yo.</title>
    <script>
    function myFunction(){
      console.log("Hey girl hey");
    };
    </script>
  </head>
  <body>
    <h2>Hey Girl Hey</h2>
    <div>
      <form action= "">
        <!-- <label for="player_1_name">Player1: </label>
        <input type="text" name="player_1_name">
        <label for="player_2_name">Player2: </label>
        <input type="text" name="player_2_name"> -->
        <!-- <div class="button">
          <input id = "chad" type="submit" value="Submit">
        </div> -->
        <button id= "chad" onclick="myFunction()">Chad</button>
      </form>
    </div>
    <p>Come through mamaw, yass gawd</p>
  </body>
</html>
